

.addon-custom {
    padding: 4px 6px;
    
}

.select-addon-custom{
  padding: 0px 0px;
  border: 0px solid red !important;
  text-align: left;
}

.placa {
  padding: 0px 15px 2px 15px;
  background-color: #f39c12;
  border: 2px solid #cc820e;
  border-radius: 4px;
  font-weight: 800;
  color: white;
}

.vehicle-profile {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #f39c12;
}
.table-custom-posed{
  //position: static;
}

.timeline-item{
      background: #f6f6f6 !important;
      border: 0px solid #ddd !important;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.porcentaje_chart{
  font-size: 18px;
  font-weight: 600;
  color: #00b0a3;
  text-align: right;
}

canvas {
  //background-color: blue; 
  width: 100%;
  height: auto;
}
div > svg  > text{
    font-family : 'Rubik' !important;
    padding : "3%";
}

.fa_enlinea{
  width: 40px !important;
  height: 40px !important;
  float: left !important;
}


.cursor-pointer{
  cursor:pointer;
}
.cursor-help{
  cursor: help;
}

.hovered-text:hover > span{
  -webkit-transition: color .5s;
  color: #0095d8    
}
.hovered-text > span{
  -webkit-transition: color .5s;     
}
/*
.pagination>li:first-child>a, .pagination>li:first-child>span {  
    border-radius: 0px !important;   
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}*/

.daterangepicker > div > ul > li {
  border-radius: 0px;
}
.daterangepicker_input > input {
  border-radius: 0px !important;
}

.start-date, .end-date {
  border-radius: 0px !important;
}

.xs-custom-box-title{
  background-color:#1ab394; 
  
  font-size: 18px; 
  text-align: center; 
  padding: 7px 10px; 
  margin-top: 0;
}


.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background-color: #1ab394;
    border-color: #1ab394;
}


